.main-doc {
  margin: 0 1rem;
}

.splash-image {
  max-width: 32rem;
}

.navbar li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.navbar ul {
  padding-inline-start: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--background-color);
}

.navbar {
  background-color: var(--primary-color);
  padding: 1rem;
}

.navbar h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar > header {
  position: fixed;
  background-color: inherit;
  width: 100%;
  top: 0;
  left: 0;
  height: 3.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.nav-items {
  margin-top: 3.5rem;
}
