/* @media (min-width: 1224px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 12.5rem;
  }

  .main-doc {
    margin-left: 13rem;
    right: 0px;
    top: 0px;
    width: 80%;
  }
} */
